:root {
    --font-family: "Roboto Slab, serif";
    --color-text: #34495e;
}

section span {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
}

section span img {
    float: left;
    padding-right: 10px;
}


body {
    font-weight: 100;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}

details {
    background: var(--color-secondary-accent);
    border-left: 4px solid var(--color-secondary);
    padding: 0.01rem 0.8rem;
}

nav {
    margin-bottom: 0rem;
}

footer,
header,
main {
    padding: 0rem 0rem;
}

.post-content-all {
    max-width: 85%;
}

.post-content-title {
    text-align: center;
}

.post-content-text {
    text-align: justify;
}

.about-me-img {
    max-width: 45%;
}

